<nav class="navbar navbar-expand navbar-light bg-light">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="#">Surveillance Dashboard</a>
        <a class="nav-item nav-link" href="/">Start</a>
        <% if(username != 0) { %>
        <a class="nav-item nav-link" href="/cameras">Cameras</a>
        <a class="nav-item nav-link" href="/admin">Administration</a>
        <a class="nav-item nav-link" href="/user/<%= username %>">Logged in as <%= username %></a>
        <% } %>
    </div>
    </nav>