<!DOCTYPE html>
<html lang="en">
  <%- include('head.ejs', {}) %>
  <body>
    <div class="container">
      <%- include('nav.ejs', {username: 0}) %>

      <%- include('registerForm.ejs', {}) %>

      <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
          <a
            class="nav-item nav-link"
            href="https://www.github.com/MarcoSteinke/Security-Cam"
            >GitHub</a
          >
          <a
            class="nav-item nav-link"
            href="https://github.com/MarcoSteinke/Security-Cam/issues/new?assignees=&labels=&template=bug_report.md&title="
            >report Bug</a
          >
        </div>
      </nav>
    </div>

    <div
      class="modal micromodal-slide"
      id="latestDetectionModal"
      aria-hidden="true"
    >
      <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div
          class="modal__container"
          role="dialog"
          aria-modal="true"
          aria-labelledby="latestDetectionModal-title"
        >
          <header class="modal__header">
            <h2 class="modal__title" id="latestDetectionModal-title">
              Micromodal
            </h2>
            <button
              class="modal__close"
              aria-label="Close modal"
              data-micromodal-close
            ></button>
          </header>
          <main class="modal__content" id="latestDetectionModal-content">
            <p>
              Try hitting the <code>tab</code> key and notice how the focus
              stays within the modal itself. Also, <code>esc</code> to close
              modal.
            </p>
          </main>
          <footer class="modal__footer">
            <!--<button class="modal__btn modal__btn-primary">Continue</button>-->
            <button
              class="modal__btn"
              data-micromodal-close
              aria-label="Close this dialog window"
            >
              Close
            </button>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
